* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
}

#header {
    background: rgb(143, 26, 230);
    background: linear-gradient(180deg, #8f1ae6 0%, rgba(109, 6, 193, 1) 25%, #55009a 46%, rgba(68, 1, 121, 1) 68%, #34005e 100%);

    padding: 3rem;
    padding-top: 1rem;
}

#email, #github, #linkedin {
    width: 3rem;
    height: 3rem;
}

#contentSignature h2 {
    color: white;
    font-size: 4em;
    letter-spacing: 1em;

    position: absolute;
    right: 7%;
    top: 10%;

    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}

#signature {
    background-image: linear-gradient(135deg, white 0%, white 50%, transparent 50.1%);
    -webkit-background-size: 0 100%;
    background-size: 0 100%;
    text-transform: uppercase;
}

#contentSignature:hover #signature {
    -webkit-background-size: 220% 100%;
    background-size: 220% 100%;
}


h1 {
    font-size: 4rem;
}

#surname {
    font-size: 6rem;
    letter-spacing: 1.9rem;
    line-height: 5rem;
    margin-bottom: 0rem;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
}

#email:hover, #github:hover, #linkedin:hover {
    animation-name: animation;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#popupEmail p {
    font-size: 0.9rem;
}

.bold {
    font-weight: 700;
}

.instruction {
    margin-top: 1.3rem;
    font-size: 0.7rem;
}

.popupEmail {
    position: absolute;
    text-align: center;
    background-color: #33333396;
    padding: 0.8rem;
    border-radius: 10px;
    right: 29%;
    top: 2%;
}

.copied {
    display: none;
    transition: opacity 1s ease-in-out;
}

@keyframes animation {
    0% {
        filter: drop-shadow(0px 0px 1px #fff);
    }

    100% {
        filter: drop-shadow(0px 0px 6px #fff);
    }
}

@keyframes fadeOutDropShadow {
    0% {
        filter: drop-shadow(0px 0px 6px #fff);
    }
    100% {
        filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0));
    }
}
